<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--음성 검색 기능 추가-->
    <queries>
        <package android:name="com.google.android.googlequicksearchbox"/>
    </queries>

    <!--권한추가-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--보이스 레코딩, 저장 권한-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Eyetem_drug"
        tools:targetApi="31"

        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true"
        >

        <!--path 관련 코드 추가-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.eyetem_drug.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.TTS_SERVICE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation"/>
        <activity android:name=".MenuActivity">
        </activity>
        <activity android:name=".AllMemoListActivity">
        </activity>
        <activity android:name=".AllMemoVoiceActivity">
        </activity>
        <activity android:name=".BarcodeActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:name=".BasicInformationActivity">
        </activity>
        <activity android:name=".MedicineInformationActivity">
        </activity>
        <activity android:name=".MemoMenuActivity">
        </activity>
        <activity android:name=".VoiceMemoListActivity">
        </activity>
        <activity android:name=".VoiceMemoSearchActivity">
        </activity>
        <activity android:name=".VoiceMemoSearchListActivity">
        </activity>
        <activity android:name=".VoiceSearchActivity">
        </activity>
        <activity android:name=".VoiceSearchListActivity">
        </activity>
        <activity android:name=".VoiceSearchInformationActivity">
        </activity>
        <activity android:name=".ToolbarActivity">
        </activity>
    </application>

</manifest>